h3{
    color:white;
    background-color:purple;
    }
    #titulo3{
       color:red; 
    }
    .miparraforosa{
        color:pink;
        font-size:34px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
    }
    .mielemento2{
        font-weight:bold;
    }